/*#navbar{
    background-color: black;
    color:#fff;
}

#navbar ul{
    padding-top: 0;
    list-style: none;
}
*/
/*gia na mpun stin grami
#navbar li{
    display: inline-block;
}
*/
#navbar a{
    color:#fff;
    
    
    padding-right: 17px;
    padding-bottom: 2px;
}

#signin{
    padding-bottom: 2px;
}

body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
/*
  .abc h1{
    text-align: center;
    margin-left: 40px;
    padding-bottom: 10px;
}
*/